$white: rgb(247, 247, 247);
$black: rgb(26, 26, 26);
$gray: gray;
$red: rgb(212, 79, 79);
$green: rgb(94, 207, 94);
$blue: rgb(78, 123, 207);
$yellow: rgb(255, 255, 63);
$orange: rgb(255, 166, 0);
$purple: rgb(95, 60, 151);

$bg: rgb(43, 20, 173);
$bg-lighter: rgb(43, 20, 173);
$bg-light: rgb(43, 20, 173);
$bg-dark: rgb(40, 18, 165);
$bg-darker: rgb(39, 18, 158);

$fg: rgb(247, 247, 247);
$fg-dark: rgb(218, 218, 218);
$fg-disabled: rgb(202, 202, 202);
$fg-link: rgb(94, 165, 223);
